/* Large screens (1405px upwards) */
@media only screen and (min-width: 1405px) {
  /* your css goes here */
}
/*Retina MacBook pro*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhones media query 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .pull-down-20 {
    margin-top: 20%;
  }
  .heading-on-mobile {
    font-size: 22px !important;
  }
  .footer-text-on-mobile {
    font-size: 15px;
  }
  .separator-on-mobile {
    display: none;
  }
  .infographics {
    display: none;
  }
  .form-section-on-mobile {
    padding: 30px 25px !important;
    margin: 30px 10px !important;
  }
  .form-section-on-mobile .form-group .form-control,
  .error {
    height: 45px !important;
  }
  .timer-on-mobile {
    text-align: center !important;
  }
  .timer-text-on-mobile {
    font-size: 26px !important;
    margin-top: -25px;
  }
  .flex-row-on-mobile {
    display: flex;
    flex-direction: row;
  }
}

/* Smartphones in portrait mode (0-479px) */
@media only screen and (max-width: 479px) {
  /* your css goes here */
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}
